# **Parte 2:** *Modelo de Datos SQL*
***

Para el proceso de creación de los *queries* para la segunda parte de la prueba, decidí desarrollar el ejercicio sobre un servidor que utiliza PostgreSQL, dada la muy buen integración con Python y con librerías y extensiones de cuadernos de Jupyter.

Para garantizar que los *queries* funcionan como es debido, decidí hacer un modelo de datos con datos artificiales, siguiendo la estructura mostrada en el *schema*. Para lograr esto primero se hace la creación del modelo de datos y luego se ejecutan las consultas requeridas.

## *Crear el Modelo de Datos*
En esta sección se crea el modelo de datos presentado en el ejercicio rellenando con valores arbitrarios.

In [89]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import string
%load_ext sql
%load_ext autoreload
%autoreload 2

# My module
import utils_payu

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Para crear este modelo de datos, hago uso de un recurso de servidor online que permite que este código se pueda ejecutar desde cualquier lugar del mundo con acceso a internet.

In [90]:
secrets = utils_payu.secrets()
conn_string = utils_payu.alchemy(secrets)
engine = create_engine(conn_string)
%sql $conn_string
conn = engine.connect()

In [91]:
conn.execute("""
DROP TABLE IF EXISTS countries CASCADE;
CREATE TABLE countries(
    code SERIAL,
    name VARCHAR(128) UNIQUE,
    continent_name VARCHAR(128),
    PRIMARY KEY (code)
);

DROP TABLE IF EXISTS merchants CASCADE;
CREATE TABLE merchants(
    merchant_id SERIAL,
    country_code INTEGER REFERENCES countries(code) ON DELETE CASCADE,
    merchant_name VARCHAR(128),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (merchant_id)
);


DROP TABLE IF EXISTS transactions CASCADE;
CREATE TABLE transactions(
    transaction_id SERIAL,
    merchant_id INTEGER REFERENCES merchants(merchant_id) ON DELETE CASCADE,
    email VARCHAR(128),
    card VARCHAR(128),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    card_country INTEGER REFERENCES countries(code) ON DELETE CASCADE,
    amount DOUBLE PRECISION,
    PRIMARY KEY (transaction_id)
);

DROP TABLE IF EXISTS products CASCADE;
CREATE TABLE products(
    product_id SERIAL,
    transaction_id INTEGER REFERENCES transactions(transaction_id) ON DELETE CASCADE,
    name VARCHAR(128),
    merchant_id INTEGER REFERENCES merchants(merchant_id) ON DELETE CASCADE,
    price INTEGER,
    status VARCHAR(20),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (product_id)
);
""")

### *Tabla países*

In [92]:
continents = ['Africa', 'America','Antartica', 'Australia', 'Asia', 'Europe']
countries = [f'Country_{i}' for i in range(1,21)]
cont_for_count = np.random.choice(continents, size=20)
countries_df = pd.DataFrame({'name':countries,'continent_name': cont_for_count})
countries_df.to_sql('countries', engine, if_exists='append', index=False)

In [93]:
%%sql
SELECT * FROM countries LIMIT 5

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
5 rows affected.

[(1, 'Country_1', 'Europe'),
 (2, 'Country_2', 'Africa'),
 (3, 'Country_3', 'Australia'),
 (4, 'Country_4', 'Australia'),
 (5, 'Country_5', 'Asia')]

### *Tabla comercios*

In [94]:
country_code = np.random.randint(1,20, size=30)
char_list = list(string.ascii_lowercase)+list('1234567890 ')
merchant_name = np.random.choice(char_list, size=(30, 25))
merchant_name = np.apply_along_axis(
    func1d = lambda x: ''.join(x).upper(),
    axis = 1,
    arr = merchant_name
)

merchant_df = pd.DataFrame({
    'country_code': country_code, 
    'merchant_name': merchant_name
})
merchant_df.to_sql('merchants', engine, if_exists='append', index=False)

In [95]:
%%sql 
SELECT * FROM merchants LIMIT 5

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
5 rows affected.

[(1, 5, 'DXLB7UUKJUKP5 WIPH6CL7F0D', datetime.datetime(2021, 10, 23, 1, 8, 45, 935807)),
 (2, 18, 'GXYN0AZE3J TPZ2NFZGB2XT1J', datetime.datetime(2021, 10, 23, 1, 8, 45, 935807)),
 (3, 6, 'A36T04CJOLSA 0GSRW7BTAP79', datetime.datetime(2021, 10, 23, 1, 8, 45, 935807)),
 (4, 7, 'AIOCYC088NQAYI4R01DGESS8U', datetime.datetime(2021, 10, 23, 1, 8, 45, 935807)),
 (5, 11, 'S0PH5UVYW550CPPHYLYQBVIQ7', datetime.datetime(2021, 10, 23, 1, 8, 45, 935807))]

### *Tabla transacciones*

In [96]:
merchant_id = np.random.randint(1,30, 40)
email_char_list = list(string.ascii_lowercase)+list('1234567890_')
email = np.random.choice(email_char_list, size=(40,10))
email = np.apply_along_axis(
    func1d = lambda x: ''.join(x)+'@gmail.com',
    axis = 1,
    arr = email
)
card_list = list(string.ascii_lowercase)+list('1234567890')
card = np.random.choice(card_list, size=(40,8))
card = np.apply_along_axis(
    func1d = lambda x: ''.join(x),
    axis = 1,
    arr = card
)
card_country = np.random.randint(1,20, 40)
amount = np.random.uniform(size=40)*100000
transactions_df = pd.DataFrame({
    'merchant_id': merchant_id, 
    'email': email,
    'card': card,
    'card_country': card_country,
    'amount': amount
})
transactions_df.to_sql('transactions', engine, if_exists='append', index=False)

In [97]:
%%sql
SELECT * FROM transactions LIMIT 5

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
5 rows affected.

[(1, 27, '85kb_15i7g@gmail.com', '782v0w4n', datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 17, 6501.7766613896),
 (2, 26, 'ojlhv3re7e@gmail.com', 'kgxdpnlr', datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 19, 36719.1337321256),
 (3, 1, '2u8j5mv4u3@gmail.com', 't99jnlcg', datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 10, 61128.2447605619),
 (4, 7, 'l8iyzrc1wd@gmail.com', '67y06xyx', datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 9, 24311.5354185016),
 (5, 13, 'bwlkui9jzz@gmail.com', 'in1du05p', datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 15, 38453.4553409353)]

### *Tabla productos*

In [98]:
transaction_id = np.random.randint(1,40, 100)
char_list = list(string.ascii_lowercase)+list('1234567890 ')
name = np.random.choice(char_list, size=(100, 30))
name = np.apply_along_axis(
    func1d = lambda x: ''.join(x).upper(),
    axis = 1,
    arr = name
)
merchant_id = np.random.randint(1, 30, 100)
price = np.random.randint(100, 1000000, 100)
status = np.random.choice(['SOLD OUT','AVAILABLE','ON TRANSIT'], 100)
products_df = pd.DataFrame({
    'transaction_id': transaction_id,
    'name': name,
    'merchant_id': merchant_id,
    'price': price,
    'status': status
})
products_df.to_sql('products', engine, if_exists='append', index=False)

In [99]:
%%sql 
SELECT * FROM products LIMIT 5

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
5 rows affected.

[(1, 27, '0474NDQKPMBWKMN30ZR3RFLT TF6RS', 29, 974998, 'AVAILABLE', datetime.datetime(2021, 10, 23, 1, 8, 48, 718281)),
 (2, 4, 'JLAID08EP83SMC2HHS8Q55 6WIDAG3', 19, 572947, 'SOLD OUT', datetime.datetime(2021, 10, 23, 1, 8, 48, 718281)),
 (3, 27, 'U8VIU03X6TISCP3546 D9T7ILWBRVO', 13, 491620, 'AVAILABLE', datetime.datetime(2021, 10, 23, 1, 8, 48, 718281)),
 (4, 11, 'SXMLRXL4SJL1K50QUNIU 7VJA6IGMR', 15, 693500, 'SOLD OUT', datetime.datetime(2021, 10, 23, 1, 8, 48, 718281)),
 (5, 25, 'H51L8VHUXWFF2O9YOOXMG5FTKMEGMT', 26, 272106, 'AVAILABLE', datetime.datetime(2021, 10, 23, 1, 8, 48, 718281))]

### **Query 1** 
Genere un query para obtener una tabla que contenga la fecha de creación de la transacción, el monto de la transacción, el nombre del producto, el nombre del comercio y el nombre del país del comercio:

In [100]:
%%sql 
SELECT t.created_at AS "Fecha Creación"
    , t.amount AS "Monto Transacción"
    , p.name AS "Nombre Producto"
    , m.merchant_name AS "Nombre Comercio"
    , c.name AS "Nombre País Comercio"
FROM transactions AS t
LEFT JOIN merchants AS m ON t.merchant_id = m.merchant_id
LEFT JOIN products AS p ON t.transaction_id = p.transaction_id
LEFT JOIN countries AS c ON m.country_code = c.code
LIMIT 10

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
10 rows affected.

[(datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 54572.3760238792, '0474NDQKPMBWKMN30ZR3RFLT TF6RS', 'S9CPMF62I90NR4A6GVGUBOIUT', 'Country_9'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 24311.5354185016, 'JLAID08EP83SMC2HHS8Q55 6WIDAG3', '0EE5PWN53PWISHY7BYAD9T2OS', 'Country_7'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 54572.3760238792, 'U8VIU03X6TISCP3546 D9T7ILWBRVO', 'S9CPMF62I90NR4A6GVGUBOIUT', 'Country_9'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 73962.1570841406, 'SXMLRXL4SJL1K50QUNIU 7VJA6IGMR', '9UTHIR 5NNQZB4O6EOANJ1M94', 'Country_9'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 41372.8394294304, 'H51L8VHUXWFF2O9YOOXMG5FTKMEGMT', 'HCMWQ6FNMNHIQTEFRPH1F1DNE', 'Country_19'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 28062.5540615672, 'EO0GBY6WKMQEEFNTWHHADY SEVSGT2', 'AKVJ26H6EDVM1XFS PC1AG4 X', 'Country_6'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 50829.8583861205, 'W72V 5 4WO0WYO6NRGNQQ OWMRYML3', 'LLIL2O5J DIQOA1F8RNAX5NPH', 'Country_13'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 18119.9590670147, 'CS2PNUB7A N9OM5RD6GKTTDT96GBSV', 'GZKVFKNEA1PGZVS69H3JCLY08', 'Country_2'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 83761.6950292156, 'K0NNRUDXPVTZZL05I2M6TDHF1L3NUY', '3QITC8IXML5NLPF IV8OSTADI', 'Country_11'),
 (datetime.datetime(2021, 10, 23, 1, 8, 47, 327900), 24028.2256929044, '2CCRD5G JWP7R4QK6PEXA1H8PDQE81', 'S0PH5UVYW550CPPHYLYQBVIQ7', 'Country_11')]

### **Query 2**
Genere un query que calcule la cuenta del número de transacciones por cada mes por cada continente.

In [104]:
%%sql
SELECT 
    COUNT(t.transaction_id) AS "Num. Transacciones"
    , EXTRACT(MONTH FROM t.created_at) AS "Mes"
    , c.continent_name AS "Continente"
FROM transactions AS t
LEFT JOIN countries AS c ON t.card_country = c.code
GROUP BY EXTRACT(MONTH FROM t.created_at),  c.continent_name

 * postgresql://pg4e_19da1495c4:***@pg.pg4e.com/pg4e_19da1495c4
6 rows affected.

[(10, 10.0, 'Australia'),
 (3, 10.0, 'America'),
 (10, 10.0, 'Africa'),
 (11, 10.0, 'Antartica'),
 (4, 10.0, 'Europe'),
 (2, 10.0, 'Asia')]